<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

    <meta charset="UTF-8">
    <title>Hackathon 2017</title>
</head>
<body>
  <div id="wrapper">
      {{{body}}}
  </div>
  {{!--<script src="/socket.io/socket.io.js"></script>
  <script src='socket.js'></script>--}}
  <script src='/javascript/javascript.js'></script>
</body>
</html>
