<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

    <meta charset="UTF-8">
    <title>Hackathon 2017</title>
</head>
<body>
  <div id="wrapper">
      <div class="user_area">
          <i class="fa fa-user-circle-o" aria-hidden="true"></i>
          Simon
      </div>
      {{{body}}}
  </div>
  <div class="sidebar">
      <i class="fa fa-search" id="search_icon" aria-hidden="true"></i><input placeholder="Sök efter nyckelord.."></input>

      <ul id="hashtags">
          <li>#fakenews</li>
          <li>#hackaton</li>
          <li>#swaglife</li>
          <li>#thuglife</li>
          <li>#infomaker</li>
          <li>#zlatan</li>
          <li>#olycka</li>
          <li>#stockholm</li>
          <li>#kalmar</li>
      </ul>
  </div>
  {{!--<script src="/socket.io/socket.io.js"></script>
  <script src='socket.js'></script>--}}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src='/javascript/javascript.js'></script>
</body>
</html>
