<div id="newsfeed">
    <h2 class="time_heading">Fredag 10 november</h2>

    <audio src="" class="speech" hidden></audio>
    <button class="textToSpeech listenBtn">Lyssna <i class="fa fa-volume-up" aria-hidden="true"></i></button>

    {{# each articles }}
        <div class="article">

            <h2>{{ this.title }}</h2>

            <p class="article_time">19:53:33</p>

            <div class="ingress" style="display: none">
                <p><img src="{{ this.imgSrc }}"></p>
                <p>{{this.ingress}}</p>
            </div>

            <p class="article_source">Källa: <a href="{{ this.articleSource }}">Aftonbladet</a></p>
        </div>
    {{/each}}
</div>
