<div id="newsfeed">
    <h1>News feed</h1>
            <img src="{{ src }}">

    {{# each articles }}
        <div class="article">
            <h2>{{ this.title }}</h2>

        </div>
    {{/each}}
</div>
