@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Lora);


body {
    background-color: ghostwhite;    
}

#wrapper {
    margin: 0 auto;
    max-width: 600px;
}

.article {
    background-color: pink;
    padding:10px;
    margin: 10px;
}

.article h2 {
    font-family: "Montserrat";
}

.article .ingress {
    font-family: "Lora";
}

.article img {
    text-align: center;
}